/* Global */
:root {
  /* Color */
  --color-white: white;
  --color-light-white: #eeeae1;
  --color-black: black;
  --color-salmon: #fcdbca;
  --color-dark-salmon: #fccab1;
  --color-light-yellow: #fceed7;
  --color-yellow: #fdd18b;
  --color-dark-brown: #635650;
  --color-brown: #7d6c64;
  --color-light-brown: #70625b;

  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: navy;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 18px 0;
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 10px 0;
  font-family: "Open Sans", sans-serif;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
  font-family: "Open Sans", sans-serif;
}

/* Navbar */
#navbar {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: transparent;
  transition: all 300ms ease-in-out;
}
#navbar.navbar--dark {
  background-color: var(--color-salmon);
  padding: 8px;
}

.navbar__menu {
  display: flex;
  margin: 0;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  font-family: "Open Sans", sans-serif;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}
.navbar__menu__item:hover {
  background-color: var(--color-dark-salmon);
}

.navbar__toggle-btn {
  display: none;
  position: absolute;
  top: 22px;
  right: 32px;
  font-size: 24px;
}

/* Home */
#home {
  background: url("images/home-background-img.png") center/cover no-repeat;
  height: 580px;
  padding: 100px;
  padding-top: 150px;
  text-align: center;
}
.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-salmon);
  border-radius: var(--size-border-radius);
}

/* Section Common */
.section {
  text-align: center;
  padding: 50px;
  margin: auto;
}

.section__container {
  max-width: 1100px;
  margin: auto;
}

/* About */
.about__content {
  display: flex;
  margin: 40px 0;
}

.about__inform {
  flex: 1;
}

.about__image {
  width: 12rem;
  border-radius: var(--size-border-radius);
}

.about__text {
  padding-left: 30px;
  text-align: justify;
}

/* Skills */

#skills {
  background-color: var(--color-light-yellow);
  /* background-color: #c9afa1; */
}

.skillset {
  display: flex;
  color: var(--color-light-white);
  margin: 20px 0;
}

.skillset__title {
  color: var(--color-white);
}

.skillset__skill {
  flex-basis: 70%;
  background-color: var(--color-dark-brown);
  padding: 20px 40px;
}

.skill {
  margin-bottom: 32px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-light-brown);
}
.skill__value {
  width: 90%;
  height: 3px;
  background-color: var(--color-yellow);
}

.skillset__certificate {
  flex-basis: 30%;
  background-color: var(--color-brown);
  padding: 20px;
}

/* Works */

.work__catogories {
  margin: 40px;
}

.category__btn {
  border: 1px solid #7d766a;
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-salmon);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: var(--color-yellow);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: inline-block;
  line-height: 24px;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all 300ms ease-in;
}

.work__projects {
  border: 1px solid lightgrey;
  box-shadow: 3px 3px 5px 0px rgba(99, 99, 99, 0.52);
  border-radius: var(--size-border-radius);
}

.projects__detail {
  padding: 20px 50px;
  text-align: initial;
}

.projects__box {
  display: flex;
  margin-top: 30px;
}

.projects__video {
  width: 500px;
  margin: 20px;
  border: 1px solid lightgray;
}

.projects__stack {
  display: flex;
  margin-top: 15px;
}

.stack__list {
  padding: 0 10px;
}
.projects__description {
  margin-bottom: 30px;
}

.stack__name {
  flex: 2;
  font-weight: var(--weight-semi-bold);
  margin-right: 10px;
}

.stack__description {
  flex: 9;
}

/* Contact */

#contact {
  background-color: var(--color-salmon);
}

.contact__title {
  margin: 32px 0;
}

.contact__list {
  margin: 10px 0;
  font-size: 20px;
}

.contact__address {
  font-weight: var(--weight-semi-bold);
}

/* Scroll */
.arrow-up {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  font-size: 40px;
  background-color: var(--color-dark-salmon);
  color: var(--color-white);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in;
}
.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 1052px) {
  .projects__box {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .about__content {
    flex-direction: column;
    align-items: center;
  }

  .projects__video {
    width: 350px;
  }

  .skillset {
    flex-direction: column;
  }
}
